<h1 class="menu-title">Choose your Pizzas here!</h1>
 
 <div class="card-collection">
  {{#each data.pizzas}}
  <div class="card-container shop-item">
    <div class="card-elements">
      <h5 class="shop-item-title">{{name}}</h5>
        <div class="card-img">
          <img src="{{imageUrl}}" alt="Pizza" class="shop-item-image">
        </div>
      <p>{{ingredients}}</p>
      <p class="shop-item-price">{{price}} €</p>
        <div class="card-buttons">
          <button><a href="menu/{{_id}}">More Info</a></button>
          <button class="order-button">Order</button>
        </div>
    </div>
  </div>
  {{/each}}
</div>