{{> admin }}

<div class="card-collection" style="margin-top: 80px">
  {{#each data.pizzas}}
 <div class="card-container">
    <div class="card-elements">
      <h5>{{name}}</h5>
        <div class="card-img">
          <img src="../{{imageUrl}}" alt="{{name}}">
        </div>
      <div class="card-elements card-buttons">
        <p>{{igredients}}</p>
        <button><a href="/admin/menu/{{_id}}">See more</a></button>
      </div>
    </div>
  </div>
   {{/each}}
</div>
